{% extends "base.html" %}
{% load assets l10n i18n svg wagtailcore_tags %}

{% block content %}
<html>
<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container content is-medium">
    <div class="columns is-centered">
      <div class="column has-text-centered">
        {{ page.thank_you_text|richtext }}
        <a class="button is-primary" href="{{previous_url}}">
          {% trans "Return" %}
        </a>
      </div>
    </div>
  </div>
</section>

</html>
{% endblock %}
