{% load i18n %}

<label for="show_color_field_{{ widget.name }}" class="button colorfield">
  {% trans 'Choose a specific color for the title and the button(s) (optional)' %}
</label>
<input type="checkbox"
       {% if widget.value.0 %}checked{% endif %}
       id="show_color_field_{{ widget.name }}"
       class="input-show-select-color"
/>

<select name="{{ widget.name }}" class="select-colors" {% include "django/forms/widgets/attrs.html" %}>
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% if group_name %}
      <optgroup label="{{ group_name }}">
    {% endif %}
    {% for option in group_choices %}
      {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
      </optgroup>
    {% endif %}
  {% endfor %}
</select>

