.card {
    .card-image .image img {
        object-fit: cover;
    }

    .card-header {
        position: absolute; 
        width: 100%; 
        bottom: 0; 
        background-color: white;
    }

    .card-content a p.intro-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
}

.image.is-4by3 {
    padding-top: 80%;
}
