/* --------- Carousel ---------- */

div.carousel.slide {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.slide-text {
  visibility: hidden;
  z-index: -1;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;

  h2, p {
    text-shadow: 0 0 7px black;
  }
}

.slider {
  list-style: none;
  overflow: hidden;
  height: 100%;
  margin:0;

  svg {
    border-radius: 50%;
    background-color: rgb(100, 100, 100);
    padding: 11px;
    fill: white;
    stroke: white;
    stroke-width: 7px;
    width: 50px;
    height: 50px;
    top: calc(50% - 15px);
    position: absolute;
  }

  input {
    position: fixed;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .previous {
    left: 0;

    svg {
      left: 2.5em;
      @media screen and (max-width: 769px) {
        left: 1em;
      }
    }
  }
  .next {
    right: 0;

    svg {
      right: 2.5em;
      @media screen and (max-width: 769px) {
        right: 1em;
      }
    }
  }

  .previous:hover svg {
    background-color: rgb(50, 50, 50);
  }
  .next:hover svg {
    background-color: rgb(50, 50, 50);
  }

  .next, .previous {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    width: 25%;
    height: 100%;
    cursor: pointer;
  }

  .img-slide {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100%;
    max-width: inherit;
    min-width: 100%;

    img {
      min-width: 100%;
      align-self: center;
    }
  }
}

.slider li input:checked ~ .img-slide {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.slider li input:checked ~ .slide-text {
  z-index: 11;
  visibility: visible;
}

.slider li input:checked ~ .previous, .slider li input:checked ~ .next {
  visibility: visible;
  z-index: 15;
}
