.has-text-orange {
  color: $orange !important;
}

.button.is-orange.is-outlined:hover, .button.is-orange {
  color: white !important;
  background-color: $orange !important;
  border-color: transparent !important;
}

.button.is-orange.is-outlined {
  color: $orange !important;
  background-color: transparent !important;
  border-color: $orange !important;
}

.has-text-yellow {
  color: $yellow !important;
}

.button.is-yellow.is-outlined:hover, .button.is-yellow {
  color: white !important;
  background-color: $yellow !important;
  border-color: transparent !important;
}

.button.is-yellow.is-outlined {
  color: $yellow !important;
  background-color: transparent !important;
  border-color: $yellow !important;
}

.has-text-green {
  color: $green !important;
}

.button.is-green.is-outlined:hover, .button.is-green {
  color: white !important;
  background-color: $green !important;
  border-color: transparent !important;
}

.button.is-green.is-outlined {
  color: $green !important;
  background-color: transparent !important;
  border-color: $green !important;
}

.has-text-turquoise {
  color: $turquoise !important;
}

.button.is-turquoise.is-outlined:hover, .button.is-turquoise {
  color: white !important;
  background-color: $turquoise !important;
  border-color: transparent !important;
}

.button.is-turquoise.is-outlined {
  color: $turquoise !important;
  background-color: transparent !important;
  border-color: $turquoise !important;
}

.has-text-cyan {
  color: $cyan !important;
}

.button.is-cyan.is-outlined:hover, .button.is-cyan {
  color: white !important;
  background-color: $cyan !important;
  border-color: transparent !important;
}

.button.is-cyan.is-outlined {
  color: $cyan !important;
  background-color: transparent !important;
  border-color: $cyan !important;
}

.has-text-blue {
  color: $blue !important;
}

.button.is-blue.is-outlined:hover, .button.is-blue {
  color: white !important;
  background-color: $blue !important;
  border-color: transparent !important;
}

.button.is-blue.is-outlined {
  color: $blue !important;
  background-color: transparent !important;
  border-color: $blue !important;
}

.has-text-purple {
  color: $purple !important;
}

.button.is-purple.is-outlined:hover, .button.is-purple {
  color: white !important;
  background-color: $purple !important;
  border-color: transparent !important;
}

.button.is-purple.is-outlined {
  color: $purple !important;
  background-color: transparent !important;
  border-color: $purple !important;
}

.has-text-red {
  color: $red !important;
}

.button.is-red.is-outlined:hover, .button.is-red {
  color: white !important;
  background-color: $red !important;
  border-color: transparent !important;
}

.button.is-red.is-outlined {
  color: $red !important;
  background-color: transparent !important;
  border-color: $red !important;
}
