.header-block {
  background-color: black;
  img {
    height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: auto;
  }
  h2, p {
    text-shadow: 0 0 7px black;
    color: white;
  }
}
