{% load bulma_tags wagtailcore_tags i18n %}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="section">
      <h2 class="has-text-centered">{{ form_block.text }}</h2>
      <form class="form" action="{% pageurl form_block.form_page %}" method="POST">
        {% csrf_token %}
        {{ form_block.form_page.attached_form|bulma }}
        <div class="has-text-centered">
          <button type="submit" class="button is-primary">
            {% if form_block.form_page.button %}
              {{form_block.form_page.button}}
            {% else %}
              {% trans "Validate" %}
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
