<div class="columns is-centered">
    <div class="column is-half">
      {% if quote_block.quote %}
      <div class="has-text-centered is-size-2">  
          {{ quote_block.quote | safe }}
      </div>
      {% endif %}
      {% if quote_block.author %}
      <div class="has-text-right is-size-4{% if quote_block.color %} has-text-{{ quote_block.color }}{% endif %}">
          {{ quote_block.author }}
      </div>
      {% endif %}
    </div>
</div>
