<section class="container section" id="container_list_cards_{{container_list_cards_id}}">
  {% if container_list_cards.title %}<h2 class="title has-text-centered">{{ container_list_cards.title }}</h2>{% endif %}
  <div class="">

    {% for card in container_list_cards.cards %}
      {% include 'components/blocks/inline_card.html' with forloop=forloop %}
    {% endfor %}

  </div>
</section>
