<section class="container section">
  <div class="columns">
    {% for block in container_three_blocks %}
      <div class="column is-third has-text-centered">
        {% include 'components/generic_content_block.html' with block=block forloop_counter=forloop.counter %}
      </div>
    {% endfor %}
  </div>
</section>
